<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    $(document).ready(function(){
      $('#btn').click(function(){
        var n = $('#num').val();
        $.getJSON("/ajax?id=" + n, function(json){
          var msg = '<table>' +
            '<tr><th>名前</th>' +
            '<td>' +json.name + '</td></tr>' +
            '<tr><th>年齢</th>' +
            '<td>' +json.age + '</td></tr>' +
            '<tr><th>メール</th>' +
            '<td>' +json.mail + '</td></tr>' +
            '</table>';
            $('#msg').html(msg);
        });
      });
    });
  </script>
</head>

<body>
  <head>
    <h1><%= title %></h1>
  </head>
  <div role="main">
    <p id="msg"><%- content %></p>
    <input type="text" name="num" id="num">
    <input type="button" id="btn" value="GET!">
  </dev>
  </body>
</html>
